* {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  border-color: #0f001a;
}

body {
	background-color: #f4e6ff;
}

header {
	display: flex;
	justify-content: center;
	background-color: white;
}

nav {
	display: flex;
	background-color: indigo;
	color: white;
	font-weight: bold;
}

nav .nav-item {
	padding: 10px 20px;
}

section {
	
}

article {
	background-color: #eaccff;
	border-radius: 4px;
	padding: 10px;
}

article.highlight {
	background-color: transparent;
	width: 100%;
}

aside {
	display: flex;
	flex-direction: column;
	width: 150px;
    margin: 10px 10px 10px 5px;
	background-color: #eaccff;
	border-radius: 4px;
}

footer {
	display: flex;
	background-color: indigo;
	justify-content: center;
	color: #eaccff;
	font-size: smaller;
	padding: 5px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.main-content {
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.highlights {
	display: flex;
	border-radius: 4px;
	background-color: #8600e6;
	color: white;
	width: 100%;
}

.articles {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	margin-top: 10px;
	width: 100%;
}

.articles.deactivated {
	display: none;
}

.login-wrapper {
	display: flex;
	flex-direction: column;
}

.login-wrapper button {
	color: white;
	font-weight: bold;
	background-color: indigo;
	margin: 5px 5px 1px 5px;
	padding: 8px;
	border-width: 0px;
	border-radius: 6px;
}

.login-wrapper .login, .login-wrapper .password {
	margin: 5px 5px 1px 5px;
	padding: 8px;
	border-width: 1.5px;
	border-radius: 6px;
}

.login-wrapper .login.error, .login-wrapper .password.error {
	border-color: darkred;
}

.warning-login {
	display: block;
	color: darkred;
	font-size: smaller;
	padding: 5px;
	align-self: center;
}

.warning-login.deactivated {
	display: none;
}

.pokemon-list {

}
