* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: #eaccff;
}

header {
	
}

nav {
	display: flex;
	background-color: indigo;
	color: white;
}

section {
	
}

article {
	
}

aside {
	display: flex;
	flex-direction: column;
	float: right;
	width: 200px;
}

footer {
	display: flex;
	background-color: blue;
}

.content {
	
}

.main-content {
	width: calc(100% - 200px);
}

.highlights {
	background-color: #8600e6;
	color: white;
}

.articles {
	display: flex;
	flex-direction: column;
}

.login-wrapper {
	border-width: 1px;
	border-color: gray;
	width: 300px;
	height: 200px;
}

.login-wrapper > button {
	color: white;
	font-weight: bold;
	background-color: darkslateblue;
	margin-top: 1px;
}

.login-wrapper > .login .password {
	display: block;
	margin-top: 50px;
	width: 100px;
	height: 20px;
	margin-left: 50px;
}

.login-wrapper > .login.error .password.error {
	border-color: darkred;
}

.warning-login {
	display: block;
	color: red;
}

.warning-login.deactivated {
	display: none;
}

.pokemon-list {

}
